/**
 * override custom libs styles. This files is not required for core sing functionality and may be removed
 */

/***********************************/
/**           Glyphicon           **/
/***********************************/

.glyphicon {
  vertical-align: baseline;
}

.glyphicon-comment:before {
  content:"\E111";
}

/***********************************/
/**        Awesome Checkbox       **/
/***********************************/
.abc-checkbox label, .abc-radio label{
  &::before {
    background: none;
    border-color: #aaa;
    margin-left: 0;
    left: -20px;
  }
}

.abc-checkbox label::after {
  margin-left: 0;
  left: -20px;
  color: $awesome-checkbox-default-color;
}

.table td,
.table th {
  .abc-checkbox label::before,
  .abc-checkbox label::after {
    left: -5px;
    color: $awesome-checkbox-default-color;
  }
}

.abc-radio label::after {
  margin-left: 0;
  left: -17px;
}

.abc-checkbox-dark input[type="checkbox"]:checked + label{
  &::after{
    color: $gray-300;
  }
}
