<h2 class="page-title">العلامة - <span class="fw-semi-bold">تفاصيل</span></h2>
<section widgster [reloadControl]="false" [fullscreenControl]="false" [collapseControl]="false">
    <h5 *widgsterTitle>{{isNew ? 'إضافة' : 'تعديل'}} علامة</h5>
    <loader *widgsterLoader [size]="40"></loader>
    <form [formGroup]="form">


        <div class="form-group row">
            <label class="col-md-2">النوع</label>
            <div class="col-md-5">
                <ng-select id="default-select" [searchable]="true" [items]="kinds" formControlName="kindId" bindLabel="name" bindValue="id">
                </ng-select>
                <p *ngIf="errorHandling('kindId', 'required') && formSubmitted" class="error">
                    هذا الحقل مطلوب
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">المنصة</label>
            <div class="col-md-5">
                <ng-select id="default-select" [searchable]="true" [items]="opcs" formControlName="opcId" bindLabel="title" bindValue="id">
                </ng-select>
                <p *ngIf="errorHandling('opcId', 'required') && formSubmitted" class="error">
                    هذا الحقل مطلوب
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">اللقب</label>
            <div class="col-md-5">
                <input class="form-control input-transparent" type="text" formControlName="title" />
                <p *ngIf="errorHandling('title', 'required') && formSubmitted" class="error">
                    هذا الحقل مطلوب
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">المسار</label>
            <div class="col-md-7">
                <input class="form-control input-transparent" type="text" formControlName="path" />
                <p *ngIf="errorHandling('path', 'required') && formSubmitted" class="error">
                    هذا الحقل مطلوب
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">نوع القيمة</label>
            <div class="col-md-5">
                <ng-select id="default-select" [searchable]="true" [items]="['Decimal','String','Decimal']" formControlName="type" bindLabel="text" bindValue="id">
                </ng-select>
                <p *ngIf="errorHandling('type', 'required') && formSubmitted" class="error">
                    هذا الحقل مطلوب
                </p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">الوصف</label>
            <div class="col-md-5">
                <textarea rows="3" class="form-control input-transparent" formControlName="description"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">الملاحظات</label>
            <div class="col-md-5">
                <textarea rows="3" class="form-control input-transparent" formControlName="notes"></textarea>
            </div>
        </div>

        <div class="btn-toolbar">
            <button *ngIf="isNew; else updateBtn" class="btn btn-success" type="button" (click)="save()">
        حفظ
      </button>
            <ng-template #updateBtn>
                <button class="btn btn-success" type="button" (click)="update()">
          تحديث
        </button>
            </ng-template>
            <button class="btn btn-default" (click)="goBack()" type="button">
        عودة
      </button>
        </div>
    </form>
</section>