<header class="logo">
  <a href="https://demo.flatlogic.com/light-blue-react/">Light <span class="fw-bold">Blue</span></a>
</header>
<ul id="side-nav" class="side-nav">
  <li [routerLinkActive]="['active']">
    <a routerLink="dashboard"><i class="fi flaticon-home"></i>
      <span class="name">Dashboard</span>
    </a>
  </li>
  <li [routerLinkActive]="['active']">
    <a routerLink="another"><i class="fi flaticon-users"></i>
      <span class="name">Another</span>
      <sup class="ml-1 text-info fw-semi-bold">
        awesome
      </sup>
    </a>
  </li>
</ul>

<h6 class="sidebar-nav-title">LABELS <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h6>
<!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->

<h6 class="sidebar-nav-title">PROJECTS</h6>
<!-- A place for sidebar notifications & alerts -->
<div class="sidebar-alerts">
  <alert [dismissible]="true" type="transparent">
    <span class="text-white fw-semi-bold">Sales Report</span> <br>
    <progressbar class="progress-xs mt-1 mb-0" type="primary" value="16"></progressbar>
    <small>Calculating x-axis bias... 65%</small>
  </alert>
  <alert [dismissible]="true" type="transparent">
    <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
    <progressbar class="progress-xs mt-1 mb-0" type="danger" value="23"></progressbar>
    <small>Provide required notes</small>
  </alert>
</div>
