<header class="logo">
    <a href="https://flatlogic.com/templates/light-blue-angular/demo">El-Salam <span class="fw-bold">PaperMill</span></a>
</header>
<ul id="side-nav" class="side-nav">
    <li [routerLinkActive]="['active']">
        <a routerLink="main"><i class="fi flaticon-user"></i> <span class="name">الرئيسية</span></a>
    </li>
    <li class="accordion-group panel" [routerLinkActive]="['active']">
        <a (click)="sidebarBehavior($event, 'opcSettingsCollapsed')" class="accordion-toggle" aria-controls="commerce-collapse" [class.open]="!sidebarState.opcSettingsCollapsed">
            <i class="fi flaticon-settings-5"></i>
            <span class="name"> إعدادات القراءات </span>
        </a>
        <ul id="commerce-collapse" class="accordion-body" [attr.aria-expanded]="sidebarState.opcSettingsCollapsed" [collapse]="sidebarState.opcSettingsCollapsed" [isAnimated]="true">
            <li [routerLinkActive]="['active']"><a routerLink="kinds">الانواع</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="opcs">منصات الإتصالات</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="tags">العلامات</a></li>
        </ul>
    </li>
    <li [routerLinkActive]="['active']">
        <a routerLink="users"><i class="fi flaticon-user"></i> <span class="name">المستخدمين</span></a>
    </li>
</ul>
