<header class="logo">
  <a href="https://flatlogic.com/templates/light-blue-angular/demo">El-Salam <span class="fw-bold">PaperMill</span></a>
</header>
<ul id="side-nav" class="side-nav">
  <li class="accordion-group panel" [routerLinkActive]="['active']">
    <a class="accordion-toggle" (click)="sidebarBehavior($event, 'dashboardCollapsed')" aria-controls="main-collapse"
      [class.open]="!sidebarState.dashboardCollapsed">
      <i class="fi flaticon-home"></i>
      <span class="name">Dashboard</span>
    </a>
    <ul id="main-collapse" class="accordion-body" [attr.aria-expanded]="sidebarState.dashboardCollapsed"
      [collapse]="sidebarState.dashboardCollapsed" [isAnimated]="true">
      <li [routerLinkActive]="['active']"><a routerLink="main/visits">Visits</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="main/analytics">Analytics</a></li>
      <li [routerLinkActive]="['active']"><a routerLink="main/widgets">Widgets</a></li>
    </ul>
  </li>
</ul>