<nav class="navbar-collapse">
  <ul class="nav navbar-nav">
    <li dropdown [isOpen]="settings.isOpen" [autoClose]="false" class="nav-item dropdown d-sm-down-none">
      <a id="settings" title="Settings" class="nav-link dropdown-toggle" dropdownToggle>
        <i class="glyphicon glyphicon-cog"></i>
      </a>
      <div class="settings dropdown-menu" *dropdownMenu>
        <div class="settings-content">
          <div class="setting clearfix">
            <div>الشريط الجانبي</div>
            <div id="display-sidebar-toggle" class="btn-group">
              <button type="button" btnRadio="Left" [(ngModel)]="display" (click)="sidebarDisplay('Show')"
                class="btn btn-dark">عرض</button>
              <button type="button" btnRadio="Right" [(ngModel)]="display" (click)="sidebarDisplay('Hide')"
                class="btn btn-dark">إخفاء</button>
            </div>
          </div>
        </div>
      </div>
    </li>


    <li class="nav-item d-sm-down-none">
      <a class="nav-link" (click)="logout()"><i class="glyphicon glyphicon-off"></i></a>
    </li>
  </ul>
</nav>